
* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 20px auto;
  text-align: center;
}
.container h1 {
  font-weight: 100;
  font-size: 32px;
}
.container ul li {
  /* text-align: left; */
  font-size: 20px;
}
li > a {
  display: inline-block;
  width: 200px;
  height: 25px;
  line-height: 25px;
  text-decoration: none;
  color: blue;
  margin: 5px auto;
  padding: 10px 0;
  text-align: left;
  text-indent: 20px;
}
li > a:hover {
  text-decoration: none;
  color: #fff;
  background: #008c8c;
  border-radius: 4px;
}
