* {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}

/* 头部信息 */
.head {
  margin: 20px auto;
  padding: top 20px;
  width: 400px;
  height: 600px;
  text-align: center;
  box-sizing: border-box;
}
.head {
  border: 20px solid #7dd9ff;
}

.head .title {
  font-weight: 100;
  border-bottom: 2px solid #008c8c;
}
.head .info {
  font-weight: 100;
  margin-top: 20px;
  border-bottom: 2px solid #008c8c;
}

.head .info div {
  margin: 10px auto;
}

.head .info .eatNum {
  color: red;
  font-weight: 700;
  font-size: 70px;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  border: 5px solid red;
}
.head .snakeLength {
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #008c8c;
}

.head .tip {
  text-align: left;
  margin-top: 10px;
}
.head .tip div:nth-child(n + 2) {
  padding-left: 20px;
  color: red;
}

/* 整体游戏样式 */
.container {
  width: 800px;
  height: 560px;
  background: #225675;
  border: 20px solid #7dd9ff;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 按钮公共样式 */
.container button {
  border: none;
  outline: none;
}

/* 开始按钮 */
.startBtn {
  width: 200px;
  height: 80px;
  background: url(../img/start.png) no-repeat center/contain;
  display: block;
}

/* 按住按钮 */
.pauseBtn {
  width: 70px;
  height: 70px;
  background: url(../img/startA.png) no-repeat center/contain;
  display: none;
}
